.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table td, .table th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
  background-color: #ffffff;
}

.table td:active {
  background-color: #0074d9;
}

.color-button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.color-button {
  display: none;
}

.table td:hover .color-button {
  display: block;
}
